/*
====================================================
TOPO 
====================================================
*/

#cabecalho_menu {
	background: url(/img/estilo/top_menu.png) repeat-x;
	height: 45px;
}

/*Menu Right*/
#cabecalho_menu_right {
	margin-top: 8px;
	float: right;
}

#cabecalho_menu_right ul  {
	margin: 6px 20px 0 0;
}

#cabecalho_menu_right ul li  {
	display: inline;
	margin-left: -4px;
}

#cabecalho_menu_right ul li a  {
	padding: 10px 10px 13px 10px;
}

#cabecalho_menu_right ul li a {
	border-left: 1px solid #FFCC66;
}

#cabecalho_menu_right ul li a.menu_border_right {
	border-right: 1px solid #FFCC66;	
}
/*Fim Menu Right*/

/*Sobrescrita de psedo-classes*/
#cabecalho_menu_right ul li a, 
#cabecalho_menu_right ul li a:link, 
#cabecalho_menu_right ul li a:visited
{
	color: #226622;
	font-weight: bold;
	text-decoration: none;
	border-bottom: none;
}

#cabecalho_menu_right ul li a:hover, 
#cabecalho_menu_right ul li a:link:hover, 
#cabecalho_menu_right ul li a:visited:hover 
{
	background: url(/img/estilo/menu_hover.png) repeat-x;
	color: #226622;
	text-decoration: none;	
}

/*FIM Sobrescrita de classes*/

/*Menu Horizontal*/
#cabecalho_menu_left, #cabecalho_menu_left ul {
	padding: 0;
	margin: 0;
	list-style: none;
	font-weight: bold;
}

#cabecalho_menu_left li  {
	padding: 12px 6px 6px 6px;
	margin: 4px 2px 0 0;
}

#cabecalho_menu_left li a:hover, 
#cabecalho_menu_left li a:link:hover, 
#cabecalho_menu_left li a:visited:hover
{
	font-weight: bold;
	text-decoration: underline;
}

#cabecalho_menu_left ul {
	padding: 5px 0 7px 0;
	
	border-left: 1px solid #CCC;
	border-bottom: 1px solid #333;
	
	border-right: 1px solid #CCC;
	border-top: 1px solid #CCC;
}

#cabecalho_menu_left ul li {
	margin: 0 0 0 15px;
	width: 150px;
}

#cabecalho_menu_left ul li a {
	padding: 0 0 2px 25px;
	background: url(/img/estilo/brick.png) no-repeat;
}

#cabecalho_menu_left li, #cabecalho_menu_left ul li {
	float: left;
	position: relative;
	cursor: pointer;
}

#cabecalho_menu_left li ul {
	display: none;
	position: absolute; 
	top: 0;
	left: 0;
	background: url(/img/estilo/fundoBarr.png) repeat-x #FFF;
}

#cabecalho_menu_left li > ul {
	top: 38px;
	left: -1px;
}

#cabecalho_menu_left li:hover, #cabecalho_menu_left li.over {
	text-decoration: none;
}

#cabecalho_menu_left ul li:hover a, #cabecalho_menu_left ul li.over a {
	background: url(/img/estilo/brick_go.png) no-repeat;
	text-decoration: underline;
}
 
#cabecalho_menu_left li.submenu:hover, #cabecalho_menu_left li.submenu.over {
	padding: 11px 6px 12px 5px;
	margin-right: 1px;
	
	border-top: 1px solid #CCC;
	border-left: 1px solid #AAA;
	
	border-right: 1px solid #EEE;
	border-bottom: 1px solid #999;
	
	background: url(/img/estilo/menu_hover.png) repeat-x;
}

#cabecalho_menu_left li:hover ul, #cabecalho_menu_left li.over ul { 
	display: block;
}
/*Fim Menu Left*/

.menuAtual{
	background: url(/img/estilo/menu_hover.png) repeat-x;
}