footer {
	background: url(/img/estilo/top_menu.png) repeat-x;	
	clear: both;
	font-size: x-small;
	height: 45px;
	min-width: 760px;
}

footer p {
	
	color: #226622;
	font-family: verdana, arial, helvetica, sans-Serif;
	font-size: 12px;
	padding: 14px 0 0 14px;
}
