footer {
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	background: url(/img/estilo/top_menu.png) repeat-x;	
	clear: both;
	font-size: x-small;
	height: 45px;
	min-width: 760px;
}

footer p {
	float: left;
	color: #226622;
	font-size: 12px;
	padding: 5px 0 0 14px;
}

footer small {
	float: right;
	padding: 15px 15px 0 0;
}

footer small, footer small a {
	color: #F0F0F0;
	font-style: italic;
	font-size: 1em;
	text-decoration: none;
}