/* 
====================================
INTRUÇÕES DE ÂMBITO GERAL 
====================================
*/
* {
	color: #226622;
	font-family: verdana, arial, helvetica, sans-Serif;
	font-size: 12px;
}

body {
	margin: 0px;
	padding: 0px;
}

pre.sourceJava {
	padding: 20px;
	margin: 4px 0 25px 0;
	font-family: courier new, monospace;
	font-size: 12px;
	border: 1px solid #080;
	border-color: black;
	background-color: #F0F0F0;
	color: black;
	text-align: justify;
}

section#body {
	min-height: 400px;
	min-width: 760px;
}

.statusDev {
	color: #A3C2A3;
}

.palavraChave {
	color: #E64D00;
}

/* 
	Tabelas
*/
table {
	border-collapse: collapse;
	border: 1px solid #226622;
	margin-bottom: 20px;
}

caption {
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	background: transparent;
	padding: 6px 4px 8px 0px;
	text-transform: uppercase;
}

td,th {
	border: 1px dotted #226622;
	padding: .4em;
}

thead th,tfoot th {
	font-weight: bold;
	font-size: 11px;
	border: 1px solid #226622;
	text-align: left;
	padding-top: 3px;
}

tbody th,tbody td {
	text-align: left;
}
/*
tbody tr:hover {
	background: #FFF9E5;
}
*/

/* =============== Experimento ======== */
span.node {
	height: 200px;
	vertical-align: middle;
	background: transparent;
	margin: 0.5ex 0.3ex 0.5ex 0.3ex;
	padding: 0 0.5ex 0 0.5ex;
	border-width: 0.1em;
	border-color: #E0E0E0 #909090 #909090 #E0E0E0;
	border-style: solid;
}

span.node img {
	vertical-align: middle;
}

span.node:hover,span.node:active {
	background: #FFFFFF;
	background: url(/img/estilo/cardapio_middle_2.png);
	font-weight: bold;
	color: #000066;
	border-color: #000 #fafafa #fafafa #000;
}

img.normal {
	border: 1px solid silver;
}

span.enfase {
	font-style: italic;
}

a.github {
	padding-left: 1.5em;
	background: url(/img/octocat_mini.png) no-repeat left;
}

.subtitulo-alert {
	font-size: 1.2em;
	color: #E64D00;
}