<link rel="stylesheet" type="text/css" href="/css/header.css" />
<!--[if lte IE 7]><link type="text/css" href="/css/header-ie7.css" rel="stylesheet"/><![endif]-->
<link rel="stylesheet" type="text/css" href="/css/main.css" />
<link rel="stylesheet" type="text/css" href="/css/footer.css" />

<style type="text/css">
/********index.html**********/
h2.index-subtitle {
	font-size: 1.4em;
	color: #007700;
}

h3.index-perguntas {
	font-size: 1.2em; 
	color: #E64D00;
}
/***** fim index.html *******/
</style>