<!doctype html>
<html lang="pt-BR" dir="ltr">

<head>
<meta charset="UTF-8" />
<meta name="robots" content="index,follow,noodp,noydir" />
<meta name="description" content="Projeto Open Source focado no desenvolvimento de componentes de software para o domínio de negócios do Brasil" />

<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<link rel="icon" href="/favicon.ico" type="image/x-icon" />

{% include css.html %}
<link rel="stylesheet" type="text/css" href="/css/sidebar.css" />
<link rel="stylesheet" type="text/css" href="/css/index-content.css" />

<title>{{ page.title }}</title>
</head>

<body>
	<section id="top">
		<nav>
			<div id="top-menu-right">
				<ul>
					<li title="Página atual"><a href="" class="menuAtual"> Home </a></li>
				</ul>
			</div>
			<ul id="top-menu-left">
				<li><a href="/jrimum">Projeto</a></li>
				<li class="submenu">Componentes
					<ul>
						<li><a href="/bopepo">Bopepo</a></li>
						<li><a href="/texgit">Texgit</a></li>
						<li><a href="https://github.com/jrimum/domkee">Domkee</a></li>
						<li><a href="https://github.com/jrimum/utilix">Utilix</a></li>
						<li><a href="https://github.com/jrimum/vallia">Vallia</a></li>
					</ul>
				</li>
				{% include top-menu-social.html %}
			</ul>
		</nav>
		
		<header>
			<h1><a href="/" title="Projeto JRimum"></a></h1>
			<hgroup>
				<h2>Mais do que Beans, ABÓBORAS!</h2>
				<h3>Porque software reusável e de qualidade não se constrói somente com feijão.</h3>
			</hgroup>
		</header>
	</section>
	
	<section id="body">
		<aside>
			<div class="left-menu-header">
				<div class="left-menu-title">Sobre o projeto</div>
			</div>
			<nav>
				<ul>
					<li class="selecionado" title="Página atual"><a href="/">Visão Geral</a></li>
					<li><a href="/jrimum/wiki/Projeto/Info/Novidades" class="cardapioNews">Novidades</a></li>
					<li><a href="/jrimum/wiki/Projeto/Info/Documentacao" class="cardapioDoc">Documentação</a></li>
					<li><a href="http://groups.google.com.br/group/jrimum-community" class="cardapioGrupo">Lista de discussão</a></li>
					<li><a href="/jrimum/wiki/Projeto/Info/CasosDeSucesso" class="cardapioDoc">Casos de sucesso</a></li>
					<li><a href="/jrimum/wiki/Projeto/Info/Suporte" class="cardapioSuporte">Suporte</a></li>
					<li><a href="/jrimum/wiki/Projeto/Info/Desenvolvimento/Equipe" class="cardapioDoc">Equipe</a></li>
					<li><a href="/jrimum/wiki/Projeto/Info" class="cardapioInfo">Mais informações</a></li>
					<li><a href="/jrimum/wiki/Projeto/Download" title="Componentes do projeto"
						style="padding-left: 20px; background: url(/img/estilo/download.png) no-repeat left;">Download <br /> <img alt="Bopepo"
							src="/img/JRiLego_Small.png" style="margin-top: 0.5em; border: none;" />
					</a></li>
				</ul>
			</nav>
			
			<div class="left-menu-bottom"></div>
			
			<iframe
				src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fjrimum&amp;width=200&amp;height=710&amp;colorscheme=light&amp;show_faces=true&amp;border_color=white&amp;stream=false&amp;header=false"
				scrolling="no" frameborder="0" style="border: none; overflow: hidden; width: 200px; height: 710px;" allowtransparency="true"></iframe>
		</aside>
		
		<section id="content">
			<header>
				<div class="title-left"></div>
				<div class="title-middle">
					<h1>{{ page.topico }}</h1>
				</div>
				<div class="title-right"></div>
			</header>
			<article>
			{{ content }}
			</article>
		</section>
	</section>
	
	{% include footer.html %}
	{% include javascript.html %}
</body>
</html>